#conteudo-tres {
    padding: 0px 103px;

}

.conteudo-tres {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre img {
    margin-right: -103px;
    height: auto;
    margin-left: 50px;
    width: 700px;
    margin-bottom: -4px;
}

.conteudo-tres .badge {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.095em;
    text-transform: uppercase; 
    padding: 0 20px;
    background-color: #019600; 
    width: 90px;
    height: 43px;
    color: white;
}

.celebracao-tres h2 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    text-align: left;
    text-transform: uppercase;
    color: white;
}

.celebracao-tres {
    display: flex;
    flex-direction: column;
}

.celebracao-tres p {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    text-transform: uppercase;
    color: white;
}

.celebracao-tres .btn {
    background-color: #019600;
    width: 336px;
    height: 63px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 2px;
    margin-bottom: 10px;
}
