#conteudo {
    padding: 0 140px;
}

.conteudo-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.produto p {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.095em;
    text-transform: uppercase; 
    margin-top: 37px;
    padding: 0 20px;
    background-color: #019600; 
    width: 160px;
    height: 43px;
}

.outros {
    display: flex;
    justify-content: space-between;
}



.series-x {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.series-x img {
    width: 148px;
    height: 196px;
    margin: 0 auto;
}

.series-x p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 30.5px;
}

.series-x .btn {
    background-color: #019600;
    width: 336px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 2px;
    margin-bottom: 10px;
}

.outros a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
}

a.esq {
    margin-right: 69px;
}

a.dir {
    margin-left: 69px;
}

