.conteudo-bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    background-color: #019600 ;
}

.outros {
    display: flex;
    justify-content: space-between;
}

.outros a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}
