footer {
    background-color: #019600;
    height: 205px;
}

p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16.1757px;
    line-height: 20px;
    text-align: right;
    letter-spacing: -0.493158px;
    text-transform: uppercase;
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 74px;
}

.footer-menu {
    list-style: none;
    color: white;
    display: flex;
    gap: 32px;
    justify-content: center;
}

.footer-menu a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: white;
    text-transform: uppercase;
}

.sociais {
    display: flex;
    gap: 32px;
    padding-top: 25px;
    padding-left: 140px;
    padding-right: 140px;
}

