.header-bg {
    background: linear-gradient(180deg, #5334B2 0%, rgba(34, 42, 62, 0.3) 60%, rgba(255,255,255,0) 100%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    display: flex;
    height: 83px;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 32px;
}

.header-menu a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: white;
    text-transform: uppercase;
}