@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import './header.css';
@import './introducao.css';
@import './conteudo.css';
@import './conteudo-dois.css';
@import './conteudo-tres.css';
@import './footer.css';

html, body {
    padding: 0px;
    margin: 0;
}

body {
    background-color: #302f2f;
}

p {
    color: white;
}

