#intro {
    background-image: url('../img/cyberpunk.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 740px;
}

.introducao {
    height: calc(100% - 83px);
    display: flex;
}

.introducao-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.introducao-bg img {
    height: 48px;
    width: 197px;
}

.introducao-bg h2, .introducao-bg p {
    margin: 0;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;
}

.introducao-bg h2 {
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.3em
}

.introducao-bg p {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
}



